/* @import url("https://use.typekit.net/jmk3xov.css"); */

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.459);
  --spacing: 150px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}
main {
  display: grid;
  position: absolute;
  color: white;
  z-index: 99;
  display: grid;
}
/* 
main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header {
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

workhistory {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

linksPanel {
  grid-column: 2 / 8;
  background : var(--dark-bg);
  margin-bottom: var(--spacing); 
  padding: 1rem; 
}

contact {
  grid-column: 2 / 8;
  background : var(--dark-bg);
  margin-bottom: var(--spacing);
  padding: 1rem; 
} */