canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.459);
  --spacing: 50px;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}
main {
  display: grid;
  position: absolute;
  color: white;
  z-index: 99;
  display: grid;
  margin-left: 10%;
  margin-right: 50%;
}
header,
profile , skills , workhistory , projects , education , linksPanel {
  grid-column: 2 / 8;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
  padding: 1rem;
  border-radius: 10px; /* Add rounded corners for a softer look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

/* Update the color and style of your buttons */
button {
  background-color: var(--accent-color);
  color: rgb(0, 0, 0);
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.25rem;
}

/* Add a hover effect for buttons */
button:hover {
  background-color: #ff5347; /* Darken the color on hover */
}
a {
  text-decoration: none;
}
a:hover {
  color: rgb(255, 0, 0);
  text-decoration: underline;
}
#transcript-link {
  color: #3498db; /* Change this to your desired color for the transcript link */
}

#transcript-link:hover {
  color: #1e6ac0; /* Change this to your desired hover color for the transcript link */
}
techSkills , softSkills , workhist , aboutme , esportProject , uni , videoGameProject{
  display: none;
}