canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.459);
  --spacing: 50px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}
main {
  display: grid;
  position: absolute;
  color: white;
  z-index: 99;
  display: grid;
  margin-left: 10%;
  margin-right: 50%;
}
header,profile , skills ,workhistory , projects , education , linksPanel , contact{
  grid-column: 2 / 8;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
  padding: 1rem;
}
softskills , techSkills {
  display: none;
}